body {
    margin: 0;
    width: 100%;

}

.dataviz {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 960px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

svg {
    margin: 10px;
    width: 100%;
}
.pie__title {
    transform: translate(-135px, -255px);
    font-size: 20px;
    font-weight: bold;
}
.pie__slice-form {
    stroke-width: 2px;
    opacity: 0.7;
    stroke: black;
}

.pie__slice-legend {
    text-anchor: middle;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}