body {
    margin: 0;
    width: 100%;
}

.dataviz {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

svg {
    margin: 10px;
    width: 100%;
	height: 100%;
}
.pie-title {
    /* transform: translate(0, 10px); */
    font-size: 20px;
}
.pie__slice-form {
    stroke-width: 2px;
    opacity: 0.7;
    stroke: black;
}

.pie__slice-legend {
    text-anchor: middle;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}